@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  min-height: 100vh;
  font-family: 'kumbh sans';
  line-height: 1.5;
}

/* Styling of the 'All' div which contains all of the content */
.all {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 1000px;
  height: 570px;
  border-radius: 20px;
  overflow: scroll;
  display: flex;
  box-shadow: 1px 1px 100px rgba(10, 10, 10, 0.3);
}

/* Main-img contains all of the images */
.main-img {
  position: relative;
  left: -180px;
}

/*  img-1 is the shadow under the Women illustration image */
.main-img .img-1 {
  width: 500px;
  height: 570px;
}

/*  main-img2 is the container for Women illustration image */
.main-img2 {
  position: absolute;
  bottom: 0;
  left: 140px;
  top: 80px;
}

/* container for that little box image */
.box {
  position: absolute;
  top: 150px;
}

/* Contains all the questions and answers */
.txt {
  margin-top: 70px;
}

/* Common styling for all the questions */
.question {
  position: relative;
  padding: 5px;
}

/* Stylig of the checkbox */
.toggler {
  position: absolute;
  top: 15px;
  left: 305px;
  opacity: 0;
  cursor: pointer;
  width: 15px;
  height: 15px;
  z-index: 2;
}

/* The little arrow right along the questions */
.arrow {
  position: absolute;
  top: 25px;
  left: 315px;
  transition: 0.5s;
}

/* Common styling for all the answers */
.answer {
  display: none;
  padding-right: 30px;
  font-size: 12px;
  opacity: 0.8;
  transition: all 0.5s ease;
}

/* When checkbox is checked the answer will appear */
.toggler:checked ~ .answer {
  display: block;
  opacity: 1;
}

/* When checkbox is checked the arrow will rotate */
.toggler:checked ~ .arrow {
  transform: rotate(180deg);
}

/* When checkbox is checked the question will turn bold */
.toggler:checked ~ .question-txt {
  font-weight: bold;
}

/* Line under each question */
.bottom-line {
  height: 1px;
  background: #ccc;
  width: 450px;
}
